.cover {
    color: grey;
}
.band {
    font-family: "Verdana" , Verdana, sans-serif;
}
ul {
    font-style: italic;
}
.album {
    background-image: url("images1/Sparks_Hippopotamus_album_cover.JPG");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 500px;
    width: 150px
    0px;
}

